body {
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
}

input[type="number"] {
    width: 50px;
    text-align: center;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.quadro-azul {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #007bff;
    background-color: #e0e0e0;
}
